<app-header></app-header>
<app-cookie></app-cookie>
<div class="jl_content">
  <router-outlet></router-outlet>
</div>
<app-footer></app-footer>

<div class="modal" id="large-iframe-modal">
  <div class="large-iframe-modal-dialog modal-dialog">
    <div class="large-iframe-modal-content modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Voor Angular Externe Sites</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <iframe class="jl_large-iframe_modal" [src]="largeIframeModalUrl|safe: 'resourceUrl'"></iframe>
      </div>

      <!-- Modal footer
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div> -->

    </div>
  </div>
</div>
