html {
  background-color: rgba(86, 95, 145, 0.986);
}

body {
  background-color: rgba(248, 246, 241, 0.993)!important;
  font-family: Arial, Helvetica, sans-serif;
  color: rgba(85, 3, 3, 0.986);
}

.jl_header, .jl_footer {
  border-radius: 20px 20px 0px 0px;
  background-color: rgba(250, 246, 234, 0.986);
}

.jl_footer {
  text-align: center;
  height: 28px;
}

.jl_header_name {
  font-size: x-small;
}

.jl_dark-text.jl_header_name, a, a:link, a:visited, .jl_brand,address a:link, address p {
  color: rgba(121, 22, 4, 0.966);
}

a:hover {
  color: black;
  font-weight: 500;
}

.jl_brand {
  font-size: xx-large;
}

.nav-item {
  border-style: ridge;
  border-radius: 10px 10px 0px 0px;
}

.nav-item:hover {
  background-color: rgba(223, 119, 22, 0.966);
  border-style: outset;
  color: beige;
}

.back-colored {
  background-color: rgba(216, 206, 194, 0.267);
}

.round-10 {
  border-radius: 10px;
}

.rond-top-10 {
  border-radius: 10px 10px 0px 0px;
}

.round-bottom-10 {
  border-radius: 0px 0px 20px 20px;
}

.round-20 {
  border-radius: 20px;
}

.rond-top-20 {
  border-radius: 20px 20px 0px 0px;
}

.round-bottom-20 {
  border-radius: 0px 0px 20px 20px;
}

h6 {
  font-weight: 700;
}

.nav-link:hover {
  color: beige;
}

address a:link, address p {
  margin-top: -7px;
  margin-bottom: -3px;
}
