<div id="home" class="back-colored round-20 padding-20">
  <h3 style="margin:0;text-align: center;">Showcase/Portfolio/Testsite</h3>
  <h5 style="text-align:center;">Jeroen Leertouwer</h5>
  <br>
  <div class="row">
    <div style="width:10px;" class="col-sm1"></div>
    <div class="col-sm-5">
      <h6>Doel van deze site</h6>
      <p>Om klanten beter te informeren wat mijn technische mogelijkheden zijn ben ik pas begonnen met het bouwen van
      deze site.</p>
      <h6>Technieken</h6>
      <p>Deze site zal veel verschillende technieken laten zien die nodig zijn om een goed georganiseerde site te bouwen. Voor veel technieken ga ik een eigen demonstratie pagina bouwen met een eigen invulling.</p>
        <h6>Frontend development</h6>
        <p>Mijn kennis van de aan de rechter kant genoemde technieken probeer ik actueel te houden en te verbeteren.</p>
    </div>
    <div class="col-sm-1"></div>
    <div class="col-sm-5">
      <h6>Technieken</h6>
      <ul>
        <li>HTML</li>
        <li>CSS</li>
        <li>SASS</li>
        <li>Bootstrap</li>
        <li>Javascript</li>
        <li>JQuery</li>
        <li>Angular</li>
        <li>C#</li>
        <li>Razor</li>
        <li>Core Framework</li>
        <li>Entity Framework</li>
        <li>SQL-server</li>
        <li>mySQL</li>
        <li>SQLite</li>
      </ul>
    </div>
  </div>
</div>
